/* html{
    padding-left: 10em;
    padding-right: 10em;
} */

body {
    font-family: 'Verdana', sans-serif;
}

p {
    font-family: "Georgia", serif;
    line-height: 1.4em;
}

/* ------------- HEADER ------------- */

body > header {
    background-color: #046DD5;

    padding: 1em;

    font-size: 0.8em;
}

body > header  *{
    margin: 0;
    margin-top: 0.3em;
}

body > header h2{
    font-size: 1em;
}

body > header a{
    text-decoration: none;
    color: white;
}

body > header #signup a {
    padding: 0 1em;
}

body > header #signup a:first-child {
    border-right: 1px solid white;
    padding-left: 0;
}

/* ------------- NAV ------------- */

#menu ul {
    margin: 0;
    padding: 0;
}

#menu li {
    background-color: white;
    text-align: center;
    
    list-style-type: none;

    padding: 1em 0;
}

#menu a{
    text-decoration: none;
    color: black;
}

#menu li:nth-child(1) {
    border-top: 5px solid #e1493e;
}

#menu li:nth-child(2) {
    border-top: 5px solid #8aba56;
}

#menu li:nth-child(3) {
    border-top: 5px solid #5b4282;
}

#menu li:nth-child(4) {
    border-top: 5px solid #ff8932;
}

#menu li:nth-child(5) {
    border-top: 5px solid #19b6e9;
}

#menu li:nth-child(6) {
    border-top: 5px solid #e84c8b;
}

#hamburger, .hamburger {
    display: none;
}

/* ------------- RELATED ------------- */

#related {
    background-color:  #2a2f33;
    color: white;

    padding: 1em;
}

#related h1 a {
    color: white;
    text-decoration: none;
}
  
#related p {
    color: white;
}

/* ------------- ARTICLE ------------- */

#news header {
    max-width: 10em;
    padding: 1em;
    position: absolute;
}

#news header h1{
    margin: 0;
    text-shadow: 0.2em 0.2em 0.2em black;
}

#news header a{
    text-decoration: none;
    color: white;
}

#news img {
    width: 100%
}

#news > article {
    background-color: white;
    margin: 1em 1em 1em 0;
}

#news > article > p{
    padding: 0 1em;
}

#news > article > p:first-of-type:first-letter{
    font-size: 2em;
}

#news footer{
    background-color: #F4655F;
    padding: 1em;
    color: white;
    font-size: 0.9em;
}

#news footer a{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
}

#news footer .tags {
    margin-right: 1em;
}

#news footer .comments {
    margin-left: 1em;
}

#news footer .author:before{
    content: "By ";
}
#news footer .comments:after {
    content: ' comments';
}

/* ------------- FOOTER ------------- */

body > footer{
    background-color: #2a2f33;
    color: white;
    padding-left: 1em;
}