body > header {
    margin-top: 1em;
    background-color: #046DD5;
    padding: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}

header a {
    color: white;
    text-decoration: none;
}

body > header > * {
    margin: 0;
}

body > header > h2 {
    font-size: 1em;
}

#signup a {
    padding: 0 1em;
}

#signup a:first-of-type {
    border-right: 1px solid white; 
    padding-left: 0;
}

nav#menu a{
    color: black;
    text-decoration: none;
}

nav#menu > ul{
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin: 0;
}

nav#menu > ul > li{
    border-top: 4px solid;
    display: block;
    padding: 1em;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav#menu > ul > li:nth-of-type(1){
    border-color:#E1493E;
}

nav#menu > ul > li:nth-of-type(2){
    border-color:#8ABA56;
}

nav#menu > ul > li:nth-of-type(3){
    border-color:#5B4282;
}

nav#menu > ul > li:nth-of-type(4){
    border-color:#FF8932;
}

nav#menu > ul > li:nth-of-type(5){
    border-color:#19B6E9;
}

nav#menu > ul > li:nth-of-type(6){
    border-color:#E84C8B;
}

aside#related{
    background-color:#2A2F33;
    padding: 1em;
    color: white;
}

aside#related article a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

aside#related article p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section#news {
    margin-top: 1em;
    margin-right: 1em;
}

section#news article {
    position: relative;
    margin-bottom: 1em;
    background-color: white;
}

section#news article header {
    position: absolute;
    top: 1em;
    left: 2em;
    width: 300px;
}

section#news article header h1 {
    text-shadow: 5px 5px 3px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section#news article img {
    width: 100%;
}

section#news article p {
    margin-left: 1em;
    font-family: var(--font-2);
}

section#news article > p:first-of-type:first-letter {
    font-size: 2em;
}

section#news article footer {
    background-color: #F4655F;
    color: white;
    padding: 1em;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section#news article footer a{
    color: white;
}

section#news article footer .author::before{
    content: 'By ';
}

section#news article footer .comments::after{
    content: ' comments';
}

section#news article footer .tags, section#news article footer .date{
    margin-right: 1em;
}

body > footer {
    background-color: #2A2F33;
    color: white;
    padding: 0.2em 1em;
    font-size: 0.9em;
}
